.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1b3975;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  color: white;
}

h1 {
  font-size: 30px;
}

.App-link {
  color: #61dafb;
}
